<main role="main" class="inner cover">
  <h1 class="cover-heading">Get in touch</h1>
  <p class="lead">Email - <a href="mailto:joelucasbaker@gmail.com?subject=Let's get in touch">joelucasbaker@gmail.com</a></p>
  <p class="lead">Phone - (484) 786-3731</p>
  <p class="lead"><a href="https://www.linkedin.com/in/joelucasbaker">Linked In</a></p>
  <p class="lead"><a href="https://github.com/josephlbaker">GitHub</a></p>
</main>
