<div class="col">
  <h1 class="projects-header">Projects</h1>
  <div class="card">
    <img src="https://josephlbaker.github.io/images/piktogram3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Piktogram is a full-stack web application built using React, mongoDB, express, and node.js. Piktogram is heavily based off of Instagram. We created this project to test our skills using React and Node. It has many of the same features as Instagram, including the ability to post pictures, write comments on those pictures, follow other users, and maintain a personal Piktogram profile.</p>
      <br>
      <a href="https://github.com/Alom310/Piktogram-FE">GitHub</a> |
      <a href="https://powerful-temple-57466.herokuapp.com/">Website</a>
    </div>
  </div>
  <div class="card">
    <img src="https://josephlbaker.github.io/images/battle-buddy2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Battle Buddy is a full-stack mobile web application built using React, mongoDB, express, and node.js Battle Buddy was created so gamers can find other people to play their favorite games with. Users can view popular games, browse that game’s feed and create events with other players in order to organize parties.</p>
      <br>
      <a href="https://github.com/josephlbaker/capstone">GitHub</a> |
      <a href="https://battle-buddy-app.herokuapp.com/">Website</a>
    </div>
  </div>
  <div class="card">
    <img src="https://josephlbaker.github.io/images/cinemite.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Cinemite is a full-stack web application built using flask, python, and SQL. Cinemite was created so that people can keep track of all the movies they want to see. Users can view titles sorted into popular categories or search for movies themselves. They can then view details and reviews for that movie and even leave their own reviews for others to see.</p>
      <br>
      <a href="https://github.com/josephlbaker/Cinemite">GitHub</a> |
      <a href="https://cinemite-app.herokuapp.com/">Website</a>
    </div>
  </div>
</div>
