<h1 class="skills-header">Skills</h1>
<div class="row">
<div class="col">
    <div class="card-skills">
    <h5 class="card-title">Languages and Frameworks</h5>
    <div class="card-body">
      <ul>
        <li>Javascript</li>
        <li>Python</li>
        <li>Ruby</li>
        <li>Rails</li>
        <li>React</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>JQuery</li>
        <li>Flask</li>
        <li>AJAX</li>
        <li>Bootstrap</li>
      </ul>
  </div>
</div>
</div>
<div class="col">
    <div class="card-skills">
    <h5 class="card-title">Databases and Deployment</h5>
    <div class="card-body">
      <ul>
        <li>SQL</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
        <li>Git</li>
        <li>GitHub</li>
        <li>Heroku</li>
        <li>Command Line</li>
      </ul>
  </div>
</div>
</div>
<div class="col">
    <div class="card-skills">
    <h5 class="card-title">Programming Methodologies</h5>
    <div class="card-body">
      <ul>
        <li>OOP</li>
        <li>MVC Pattern</li>
        <li>Test Driven Development</li>
        <li>Responsive Design</li>
        <li>Authentication</li>
        <li>User Stories</li>
        <li>ERDs</li>
        <li>Wireframing</li>
        <li>Agile Development</li>
      </ul>
  </div>
</div>
</div>
</div>
